<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
  </head>
<body style="background-color:rgb(245, 222, 179)">
    <h1 style="text-align:center">ログイン画面</h1>
  <div style="text-align:center">
  {% if error != null %}
    <p style="color:red">{{error}}</p>
  {% endif %}
  {% if msg != null %}
    <p style="color:blue">{{msg}}</p>
  {% endif %}
  </div>
<div style="text-align:center">
<form action="{{url_for('login')}}" method="post">
    ユーザ名:<input type="text" name="username" value="{{data.user_name if data is defined else ''}}"><br>
    パスワード：<input type="password" name="password" value="{{data.password if data is defined else ''}}"><br>
    <button type="submit">ログイン</button>
  </form>
</div>
 <p><a href="{{url_for('register_form')}}">新規登録をする</a></p>
</body>
</html>